.DS_Store
Thumbs.db
/input-cache
/output
/temp
/template
./build.bat
./build.sh
./gencontinuous.bat
./gencontinuous.sh
./genonce.bat
./genonce.sh

# Wird in sushi-config.yaml gepflegt. package.json sollte sonst durch _genonce oder in ~/.fhir/packages erzeugt werden..
./fhirpkg.lock.json
./package.json